<a href="https://colab.research.google.com/github/Darsana33/datascience_lab/blob/main/Darsana_10_2_2022_NLTK_CO5_ipynb.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Aim: Implement problems on natural language processing - Part of Speech
tagging, N-gram & smoothening and Chunking using NLTK

Short notes:

The **Natural Language Toolkit (NLTK)** is a platform used for building programs for text analysis. One of the more powerful aspects of the NLTK module is the Part of Speech tagging.

**Part-of-speech (POS)** tagging is a process of converting a sentence to forms – list of words, list of tuples (where each tuple is having a form (word, tag)). The tag in case of is a part-of-speech tag, and signifies whether the word is a noun, adjective, verb, and so on.

**keywords**:

Corpus : Body of text, singular. Corpora is the plural of this.

Lexicon : Words and their meanings.

Token : Each “entity” that is a part of whatever was split up based on rules.

**Tags and their meanings**

CD cardinal digit

EX existential there (like: “there is” … think of it like “there exists”)

FW foreign word

IN preposition/subordinating conjunction

JJ adjective ‘big’

JJR adjective, comparative ‘bigger’

JJS adjective, superlative ‘biggest’

NN noun, singular ‘desk’

NNS noun plural ‘desks’

NNP proper noun, singular ‘Harrison’

NNPS proper noun, plural ‘Americans’

PDT predeterminer ‘all the kids’

POS possessive ending parent‘s

PRP personal pronoun I, he, she

PRP$ possessive pronoun my, his, hers

RB adverb very, silently,

RBR adverb, comparative better

RBS adverb, superlative best

RP particle give up

**N-grams** are continuous sequences of words or symbols or tokens in a document. In technical terms, they can be defined as the neighbouring sequences of items in a document. 

**Steps for n-gram model:**

Explore the dataset

Feature extraction

Train-test split

Basic pre-processing

Code to generate N-grams

Creating unigrams

Creating bigrams

Creating trigrams

In [ ]:
from nltk.corpus.reader import tagged
import nltk
from nltk.corpus import stopwords
from nltk.tokenize import sent_tokenize,word_tokenize 
nltk.download('stopwords')
nltk.download('punkt')
nltk.download('averaged_perceptron_tagger')
sw=set(stopwords.words('english'))

#Dummy text
txt="Hello.I am Darsana Prasad.I am a native of Athani."
  
# sent_tokenize is one of instances of 
# PunktSentenceTokenizer from the nltk.tokenize.punkt module
tokenized=nltk.word_tokenize(txt)  
for i in tokenized:

      
    # Word tokenizers is used to find the words 
    # and punctuation in a string
    wordlist=word_tokenize(i)
  
    # removing stop words from wordList
    wordlist=[w for w in wordlist if not w in sw]
    
  
    #  Using a Tagger. Which is part-of-speech 
    # tagger or POS-tagger. 
    tagged=nltk.pos_tag(wordlist)
    print(tagged)

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package averaged_perceptron_tagger to
[nltk_data]     /root/nltk_data...
[nltk_data]   Package averaged_perceptron_tagger is already up-to-
[nltk_data]       date!
[('Hello.I', 'NN')]
[]
[('Darsana', 'NNP')]
[('Prasad.I', 'NN')]
[]
[]
[('native', 'JJ')]
[]
[('Athani', 'NN')]
[('.', '.')]

In [ ]:
print(sw)

{'than', "wouldn't", 'having', "you'll", 'during', 'his', 'she', 'in', 'most', 'ours', 'how', "hasn't", 'shouldn', "weren't", 'after', 're', 'our', 'hadn', 'hasn', 'nor', 'am', 'against', 'her', 'its', 'only', 'why', 'needn', "she's", "haven't", 'have', "should've", 'those', 'were', 'until', 'herself', 'once', "it's", 'itself', 'mightn', 'll', 'into', 'being', 'myself', 'no', 'had', 've', 'haven', 'below', 'aren', 'o', "won't", 'i', 'or', "mightn't", "shan't", 'between', 'which', 'theirs', 'but', 'of', 'off', 'ma', 'shan', 'it', 'your', 'each', "don't", 'these', 'themselves', 'any', 'my', 's', 'isn', 'over', 'above', 'wouldn', 'him', 'to', 'wasn', 'while', 'an', 'where', 'not', 'are', 'will', 'just', 'has', 'been', 'because', 'yourselves', 'if', 'same', 'who', "didn't", 'such', 'didn', 'so', 'yourself', 'other', 'that', 'you', 'y', 'was', 'me', 'here', 'them', 'before', 'weren', "couldn't", 'm', 'does', 'won', "you'd", 'as', "isn't", 'few', 'yours', 'he', 'again', 'some', 'doesn', 'ain', "you've", 'should', 'by', "wasn't", 'under', "mustn't", 'at', 'too', 'more', 'this', 'don', 'hers', 'own', 'about', 'd', "needn't", 'whom', 'their', 'do', 'and', 'when', 'a', 'now', 'mustn', 'then', "aren't", 'we', 'both', 'ourselves', 'they', 'for', "doesn't", 'out', "shouldn't", 'is', 'can', 'very', 'with', "hadn't", 'what', 'from', 'down', 'the', 'there', "you're", 'through', 'doing', 'couldn', 'himself', 't', 'on', 'up', 'further', 'all', "that'll", 'be', 'did'}

In [ ]:
print(tokenized)

N-gram model

In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
plt.style.use(style='seaborn')
#get the data from https://www.kaggle.com/ankurzing/sentiment-analysis-for-financial-news/version/5
colnames=['sentiment','news']
df=pd.read_csv('all-data.csv - all-data.csv.csv',encoding='ISO-8859-1',names=colnames)
df.head()

  sentiment                                               news
0   neutral  According to Gran , the company has no plans t...
1   neutral  Technopolis plans to develop in stages an area...
2  negative  The international electronic industry company ...
3  positive  With the new production plant the company woul...
4  positive  According to the company 's updated strategy f...

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4846 entries, 0 to 4845
Data columns (total 2 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   sentiment  4846 non-null   object
 1   news       4846 non-null   object
dtypes: object(2)
memory usage: 75.8+ KB

In [ ]:
df['sentiment'].value_counts()

neutral     2879
positive    1363
negative     604
Name: sentiment, dtype: int64

In [ ]:
y=df['sentiment'].values
y.shape

(4846,)

In [ ]:
x=df['news'].values
x.shape

(4846,)

In [ ]:
#Split train dataset 
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=.3)
print(x_train.shape)
print(x_test.shape)
print(y_train.shape)
print(y_test.shape)

(3392,)
(1454,)
(3392,)
(1454,)

In [ ]:
#Make train dataset as a dataframe
df1=pd.DataFrame(x_train)
df1=df1.rename(columns={0:'news'})
df2=pd.DataFrame(y_train)
df2=df2.rename(columns={0:'sentiment'})
df_train=pd.concat([df1,df2],axis=1)

In [ ]:
#Make test dataset as a dataframe
df3=pd.DataFrame(x_test)
df3=df3.rename(columns={0:'news'})
df4=pd.DataFrame(y_test)
df4=df4.rename(columns={0:'sentiment'})
df_test=pd.concat([df3,df4],axis=1)

In [ ]:
#removing punctuations
#library that contains punctuation
import string
string.punctuation

'!"#$%&\'()*+,-./:;<=>?@[\\]^_`{|}~'

In [ ]:
#defining the function to remove punctuation
def remove_pun(text):
  if(type(text)==float):
    return text
  ans=""
  for i in text:
    if i not in string.punctuation:
      ans+=i
  return ans

In [ ]:
text='darsana*@123'
remove_pun(text)

'darsana123'

In [ ]:
#storing the puntuation free text in a new column called clean_msg
df_train['news']=df_train['news'].apply(remove_pun)
df_test['news']=df_test['news'].apply(remove_pun)
#punctuations are removed from news column in train dataset
df_train.head()

                                                news sentiment
0   ADP News   Dec 11  2008  Finnish powersupply ...   neutral
1  The shares subscribed will be eligible for tra...   neutral
2  Both operating profit and turnover for the six...  positive
3          The value of the order is nearly EUR400m    neutral
4  Teleste expects to start the deliveries at the...   neutral

In [ ]:
import nltk
from nltk.corpus import stopwords
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Unzipping corpora/stopwords.zip.

True

In [ ]:
#method to generate n-grams:
#params:
#text-the text for which we have to generate n-grams
#ngram-number of grams to be generated from the text(1,2,3,4 etc., default value=1)
def generate_N_grams(text,ngram=1):
  words=[word for word in text.split(" ")if word not in set(stopwords.words('english'))]
  print("After removing stopwords:",words)
  temp=zip(*[words[i:] for i in range(0,ngram)])
  ans=[' '.join(ngram) for ngram in temp]
  return ans

In [ ]:
name=['darsana','prasad']
s=' '.join(name)
s

'darsana prasad'

In [ ]:
s1=['abeel','adhitya','akash','akshaya']
s2=[1,2,3,4]
s3=zip(s1,s2)
print(set(s3))

{('abeel', 1), ('akshaya', 4), ('akash', 3), ('adhitya', 2)}

In [ ]:
generate_N_grams("The sun rises in the east",2)

After removing stopwords: ['The', 'sun', 'rises', 'east']

['The sun', 'sun rises', 'rises east']

In [ ]:
generate_N_grams("The sun rises in the east",3)

After removing stopwords: ['The', 'sun', 'rises', 'east']

['The sun rises', 'sun rises east']

In [ ]:
generate_N_grams("The sun rises in the east",4)

After removing stopwords: ['The', 'sun', 'rises', 'east']

['The sun rises east']